<div class="text-layout-color" pDefer>
  <!--MENU-->
  <app-menu pRipple pDefer></app-menu>
  <!--MENU-->
  <!--HERO-1-->
  <div class="px-4 py-8 md:px-6 lg:px-8 flex ">
    <div class="flex flex-wrap">
      <div class="w-12 lg:w-6 p-4 md:mt-5 ">
        <h1 class="text-6xl font-bold text-purple-600 mt-0 mb-3">Bienvenido a la
          economía digital.</h1>
        <p class="text-3xl text-700 mt-0 mb-5">Somos una plataforma web especialmente
          diseñada para ti, trabajamos con nuestra
          propia moneda digital llamada Ziri Cash.</p>
        <button pRipple class="mr-6 p-button" pButton label="Empezar" iconPos="right"
          routerLink="/auth/register">Empezar</button>
      </div>
      <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden"><img src="assets/logos/map-ziri-02.png"
          alt="Image" class="w-full"></div>
    </div>
  </div>
  <!--HERO-1-->
  <!--CARDS-1-->
  <div class="px-4 py-8 md:px-6 lg:px-8">
    <div class="text-purple-400 text-6xl font-bold mb-3 text-center py-5">Súmate a nuestra plataforma</div>
    <div class="text-700 text-xl text-center">Registrate, y disfruta todo lo que puedes hacer con tu cuenta.</div>
    <div class="grid mt-7">
      <div class="col-12 lg:col-4">
        <div class="shadow-1 p-5 surface-card text-center">
          <div class="border-circle bg-blue-50 p-4 text-purple-400 inline-flex justify-content-center align-items-center
            mb-4">
            <i class="pi pi-chart-line text-5xl"></i></div>
          <div class="text-purple-600 font-medium text-4xl mb-4">Invierte</div>
          <div class="text-700 text-lg mb-4 line-height-3 text-justify align-center">Multiplica tus Ziri Cash con
            nuestro
            programa de inversión y
            gana algo de dinero extra.</div>
        </div>
      </div>
      <div class="col-12 lg:col-4">
        <div class="shadow-1 p-5 surface-card text-center">
          <div class="border-circle bg-purple-50 p-4 text-purple-400 inline-flex justify-content-center align-items-center
            mb-4">
            <i class="pi pi-money-bill text-5xl"></i></div>
          <div class="text-purple-600 font-medium text-4xl mb-4">Ahorra</div>
          <div class="text-700 text-lg line-height-3 text-justify md:pb-4">Con nosotros tu dinero está seguro y no pierde
            valor, ya que el precio de nuestra moneda es fijo y estable.</div>
        </div>
      </div>
      <div class="col-12 lg:col-4">
        <div class="shadow-1 p-5 surface-card text-center">
          <div class="border-circle bg-orange-50 p-4 text-purple-400 inline-flex justify-content-center align-items-center
            mb-4">
            <i class="rotate-90 pi pi-sort-alt text-5xl"></i></div>
          <div class="text-purple-600 font-medium text-3xl mb-4">Envía y recibe Ziri Cash</div>
          <div class="text-700 text-lg md:pb-5 line-height-3 text-justify">De manera fácil y sencilla, las 24 horas del
            día, los 365
            días del año.</div>
        </div>
      </div>
    </div>
  </div>
  <!--CARDS-1-->
  <!--HERO-2-->
  <div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
      <div class="w-12 lg:w-6 p-4">
        <h1 class="text-7xl font-bold text-purple-600 pt-8 mb-3">Ziri Cash</h1>
        <p class="text-2xl text-700 mt-0 mb-5 text-justify">Es la moneda digital que utilizamos para operar internamente
          en nuestra plataforma. Su valor equivale a 50 centavos USD. Al entrar en nuestra plataforma debes cambiar tu
          dinero por Ziri Cash para poder operar. Cuando quieras
          retirar fondos realizas el mismo procedimiento de manera inversa.</p>
        <p class="text-sm text-700 mt-0 mb-5 text-justify">Nota: Evitando confusiones, queremos aclarar que no es
          una criptomoneda, ni nada similar.</p>
        <button type="button" pButton pRipple (click)="modals.show(4)"
          class="p-element p-ripple block p-button-text p-button-lg font-medium p-button p-component">
          <span class="p-button-label">Conocer más</span></button>
      </div>

      <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden md:mt-5"><img src="assets/logos/Ziri.png"
          alt="Image" class="w-full"></div>
    </div>
  </div>
  <!--HERO-2-->
  <!--HERO 3-->
  <div class="surface-section py-8 mt-8">
    <div class="flex justify-content-evenly flex-wrap bg-purple-600">
      <div class="p-3">
        <i class="pi pi-shield text-7xl ml-1"></i>
        <p class="">Seguridad</p>
      </div>
      <div class="p-3">
        <i class="pi pi-globe text-7xl ml-1"></i>
        <p class="">Innovación</p>
      </div>
      <div class="p-3">
        <i class="pi pi-thumbs-up ml-1 text-7xl"></i>
        <p class="">Confianza</p>
      </div>

    </div>
  </div>
  <!--HERO 3-->
  <!--CARDS-2-->
  <div class="px-4 py-8 md:px-6 lg:px-8 ">
    <div class="text-purple-400 text-6xl font-bold mb-3 text-center py-5">Te damos las herramientas</div>
    <div class="text-700 text-xl text-center">Queremos que tengas el control, por eso diseñamos una plataforma con todas
      las herramientas para que puedas comprar, vender enviar y recibir Ziri Cash de manera fácil y sencilla cuando lo
      desees.</div>
    <div class="grid mt-7 pb-8  ">
      <div class="md:col-2"></div>
      <div class="col-12 lg:col-4 ">
        <div class="shadow-1 p-5 surface-card text-center">
          <div class="border-circle bg-purple-50 p-4 text-purple-400 inline-flex justify-content-center align-items-center
            mb-4">
            <i class="pi pi-money-bill text-5xl"></i></div>
          <div class="text-purple-600 font-medium text-4xl mb-4">Wallet</div>
          <div class="text-700 text-lg line-height-3 text-justify mb-4">Tendrás una billetera digital privada, en ella
            podrás guardar, enviar y recibir Ziri Cash cúando lo desees.</div>
        </div>
      </div>
      <div class="col-12 lg:col-4">
        <div class="shadow-1 p-5 surface-card text-center">
          <div class="border-circle bg-orange-50 p-4 text-purple-400 inline-flex justify-content-center align-items-center
            mb-4">
            <i class="pi pi-arrows-h text-5xl"></i></div>
          <div class="text-purple-600 font-medium text-4xl mb-4">Exchange</div>
          <div class="text-700 text-lg line-height-3 text-justify">Funciona como un sitio de intercambio. Ahí se
            reúnen todos los Zirinautas para hacer intercambios de monedas, de forma segura y responsable.
          </div>
        </div>
      </div>
      <div class="md:col-2"></div>
    </div>
  </div>
  <!--CARDS-2-->
  <!--HERO-4-->
  <div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap pb-6">
      <div class="w-12 lg:w-6 text-center lg:text-left overflow-hidden"><img src="assets/logos/MontosReducidos.png"
          alt="Image" class="w-full"></div>
      <div class="w-12 lg:w-6 p-4 ">
        <h1 class="text-7xl font-bold text-purple-600 pt-8 mb-3">Montos reducidos</h1>
        <p class="text-2xl text-700 mt-0 mb-5 text-justify">Nuestra plataforma no esta diseñada para manejar altas
          cantidades de dinero. Preferimos ser más conservadores y tener limites en nuestro sistema, por eso cada
          usuario podrá tener en su billetera un máximo de 00 Ziri cash (00$).
      </div>
    </div>
  </div>
  <!--HERO-4-->
  <!--HERO-2-->
  <div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8 md:mb-8">
    <div class="flex flex-wrap">
      <div class="w-12 lg:w-6 p-4">
        <h1 class="text-7xl font-bold text-purple-600 pt-8 mb-3">Pronto podrás hacer compras</h1>
        <p class="text-2xl text-700 mt-0 mb-5 text-justify">Próximamente dentro de nuestra plataforma implementaremos
          una sección de Tienda online, donde podrás adquirir productos pagando con tus Ziri Cash y te serán enviados a
          tu localidad.</p>

      </div>

      <div class="w-12 lg:w-6 text-center lg:text-right overflow-hidden"><img src="assets/logos/Ziri-Store.png"
          alt="Image" class="w-full"></div>
    </div>
  </div>
  <!--HERO-2-->

  <!--FOOTER-->
  <app-footer>

  </app-footer>

  <!--FOOTER-->
</div>

<div>
  <app-modals #modals></app-modals>
</div>
