<p-menubar [model]="item">
  <ng-template pTemplate="start" class="col">
    <a routerLink="/index">
      <p-image src="assets/logos/Logo-Ziri-(Propuesta).png" class="mr-5" alt="Logo" width="150"></p-image>
    </a>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="">
      <div class="col m-auto -mt-5 ">
        <h5><i class="pi pi-sun"></i><span class="text-2xl font-light"> /
          </span><i class="pi pi-moon"></i></h5>
      </div>
      <div class="col m-auto -mt-5">
        <p-inputSwitch #theme (onChange)="changeTheme(checked)" [(ngModel)]="checked" styleClass=" ml-1">
        </p-inputSwitch>
      </div>
    </div>
  </ng-template>
</p-menubar>
<app-modals #modals></app-modals>
