<app-menu></app-menu>
<div class="md:px-8 grid pt-8 md:mx-8">
  <p-card class="lg:col-4 col-12" header="Zirium 1.0">
    <p class="text-6xl text-primary text-center font-semibold">2 Żrc</p>
    <p>+ Tiempo: Recibiras los Ziri Cash generados al transcurrir 3 días
      <br>
      <br>
      + Resultado: Recibiras un total de 4 ZRC
    </p>
    <ng-template pTemplate="footer">
      <button type="button" pButton class="min-w-full" label="Adquirir"></button>
    </ng-template>
  </p-card>
  <p-card class="lg:col-4 col-12" header="Zirium 2.0">
    <p class="text-6xl text-primary text-center font-semibold">10 Żrc</p>
    <p>+ Tiempo: Recibiras los Ziri Cash generados al transcurrir 3 días
      <br>
      <br>
      + Resultado: Recibiras un total de 20 ZRC
    </p>
    <ng-template pTemplate="footer">
      <button type="button" pButton class="min-w-full" label="Adquirir"></button>
    </ng-template>
  </p-card>
  <p-card class="lg:col-4 col-12" header="Zirium Pro">
    <p class="text-6xl text-primary text-center font-semibold">18 Żrc</p>
    <p>+ Tiempo: Recibiras los Ziri Cash generados al transcurrir 3 días
      <br>
      <br>
      + Resultado: Recibiras un total de 36 ZRC
    </p>
    <ng-template pTemplate="footer">
      <button type="button" pButton class="min-w-full" label="Adquirir"></button>
    </ng-template>
  </p-card>
</div>
