<app-menu></app-menu>
<div class="card grid py-8">
  <div class="md:col-9 col-12 md:px-8">
    <p-tabView headerStyleClass="justify-self-center" [(activeIndex)]="activeIndex1">
      <p-tabPanel header="Ver saldo" [disabled]="true">
        <div class="">
          <p class="">Saldo disponible</p>
          <p class="text-center text-7xl mt-5 mb-5 pt-5 pb-4 text-purple-300">{{saldo | currency: 'Żrc '}}
          </p>
          <p-button styleClass="p-button-text" icon="pi pi-search" class="flex justify-content-end pt-5"
            label="Ver movimientos" routerLink="/user/movements"></p-button>

        </div>
      </p-tabPanel>
      <p-tabPanel header="Transferir" [disabled]="true">
        <div class="col-12">
          <p class="">Transferencia a terceros</p>
          <div class="grid p-fluid">
            <div class="col-12 md:col-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                <input type="text" pInputText placeholder="E-mail">
              </div>
            </div>

            <div class="col-12 md:col-4">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-dollar"></i></span>
                <input type="text" pInputText placeholder="Monto">
                <span class="p-inputgroup-addon">.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="md:col-6 col md:pt-3">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" [disabled]="true" pInputText placeholder="nombre del usuario">
          </div>
        </div>
        <div class="col md:pt-4">
          <p-button icon="pi pi-send" class="flex justify-content-end md:pt-7 pt-5" label="Enviar"></p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="md:col-3 col-12 md:pt-5">
    <div class="grid md:px-0 md:px-8 py-4">
      <div class="md:col-12 col-6 px-3 py-1">
        <button pButton pRipple (click)="activeIndex1 = 0" label="Ver saldo" class="w-full p-button-help"
          icon="pi pi-money-bill"></button>
      </div>
      <div class="md:col-12 col-6 px-3 py-1">
        <button pButton pRipple (click)="activeIndex1 = 1" label="Transferir" class="w-full p-button-help "
          icon="pi pi-send"></button>
      </div>
    </div>
  </div>
</div>
