<app-menu></app-menu>
<div class="grid">
  <div class="col-3"></div>
  <div class="py-8 md:col-6 col-12">
    <p-panel header="Cambio de divisa">
      <form autocomplete="off" [formGroup]="exForm">
        <div class="grid p-fluid">
          <div class="col-12 md:col-6">
            <p-dropdown [options]="toc!" formControlName="toc" optionLabel="name" optionValue="code" selectedToc="code"
              placeholder="--Select type of change--">
            </p-dropdown>
          </div>
          <div class="col-12 md:col-6">
            <div class="p-inputgroup">
              <textarea pInputTextarea formControlName="desc" [rows]="1" [cols]="30"
                placeholder="Ej. Numero de contacto"></textarea>
            </div>
          </div>

          <div class="col-12 md:col-6">
            <div class="p-inputgroup">
              <input type="number" pInputText formControlName="amount" placeholder="Monto">
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="p-inputgroup">
              <button class="min-w-full" pButton label="Publicar"></button>
            </div>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
  <div class="col-3"></div>
  <!-- <div class="col">
    <h3 class="text-layout-color">Formulario:</h3>
    <pre class="text-layout-color">{{exForm.value | json}}</pre>
  </div> -->
</div>



<!--Table-->
<div class="grid"></div>
<div class="container md:px-8">
  <div class="card">
    <div class="mb-3">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
        styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
        styleClass="p-button-text"></p-button>
    </div>
    <p-table #dt [value]="dashboard!" responsiveLayout="scroll" [paginator]="true" [rows]="rows" class="py-8"
      [scrollable]="true" styleClass="p-datatable-striped " [rowsPerPageOptions]="[10,25,50,100]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}
      entries" [showCurrentPageReport]="true" [(first)]="first">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:250px" pSortableColumn="full_name">Nombre <p-sortIcon field="full_name"></p-sortIcon>
          </th>
          <th style="min-width:250px" pSortableColumn="toc">Tipo de cambio <p-sortIcon field="toc"></p-sortIcon>
          </th>
          <th style="min-width:250px" pSortableColumn="desc">Descripción <p-sortIcon field="desc"></p-sortIcon>
          </th>
          <th style="min-width:200px" class="justify-content-center" pSortableColumn="amount">Cantidad <p-sortIcon
              field="amount"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dashboard class="flex flex-wrap">
        <tr>
          <td style="min-width:250px">{{dashboard.full_name}}</td>
          <td style="min-width:250px">{{dashboard.toc}}</td>
          <td style="min-width:250px">{{dashboard.desc}}</td>
          <td style="min-width:200px" class="justify-content-center">{{dashboard.amount | currency: 'Żrc '}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
