<app-menu></app-menu>
<div class="col"></div>
<div class="container py-8 px-8">
  <div class="card">
  <p-table #dt [value]="movements" responsiveLayout="scroll" [paginator]="true" [rows]="10" class="pt-8"
    [scrollable]="true" scrollHeight="600px" styleClass="p-datatable-striped " [rowsPerPageOptions]="[10,25,50,100]">
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width:250px">Sender</th>
        <th style="min-width:250px">Receives</th>
        <th style="min-width:250px">Movement</th>
        <th style="min-width:250px">Amount</th>
        <th style="min-width:250px">Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movement class="flex flex-wrap">
      <tr>
        <td style="min-width:250px">{{movement.sender}}</td>
        <td style="min-width:250px">{{movement.receives}}</td>
        <td style="min-width:250px">{{movement.movement}}</td>
        <td style="min-width:250px">{{movement.amount | currency: 'USD'}}</td>
        <td style="min-width:250px">{{movement.date}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>
