<app-menu></app-menu>
<div class="col"></div>
<div class="container px-8">
  <div class="card">
    <div class="mb-3">
      <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
        styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
      <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
        styleClass="p-button-text"></p-button>
    </div>
    <p-table #dt [value]="movements!" responsiveLayout="scroll" [paginator]="true" [rows]="rows" class="pt-8"
      [scrollable]="true" styleClass="p-datatable-striped " [rowsPerPageOptions]="[10,25,50,100]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}
      entries" [showCurrentPageReport]="true" [(first)]="first">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:250px">Sender</th>
          <th style="min-width:250px">Receives</th>
          <th style="min-width:250px">Movement</th>
          <th style="min-width:250px">Amount</th>
          <th style="min-width:250px">Date</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movement class="flex flex-wrap">
        <tr>
          <td style="min-width:250px">{{movement.sender}}</td>
          <td style="min-width:250px">{{movement.receives}}</td>
          <td style="min-width:250px" *ngIf="movement.movement === 1"><button pButton
              class="p-button-rounded p-button-success pointer-events-none min-width-150px" style="min-width: 100px;"
              label="Receive"></button></td>
          <td style="min-width:250px" *ngIf="movement.movement === 0"><button pButton
              class="p-button-rounded p-button-danger pointer-events-none min-width-150px" style="min-width: 100px;"
              label="Send"></button></td>
          <td style="min-width:250px">{{movement.amount | currency: 'Żrc '}}</td>
          <td style="min-width:250px">{{movement.date}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
