<div class="surface-section px-4 py-8 md:px-6 lg:px-8 justify-content-center">
  <div class=" border-300 pt-5 text-center"><img src="assets/logos/Logo-Ziri-(Propuesta).png" alt="Image" height="36">
    <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">
      <li><a class="text-600 cursor-pointer 
                    line-height-3 lg:mr-5" (click)="modals.show(1)">Programa de Inversión
        </a></li>
      <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5" (click)="modals.show(2)">Trabaja con nosotros</a>
      </li>
      <li><a class="text-600 cursor-pointer line-height-3 lg:mr-5" (click)="modals.show(3)">Preguntas frecuentes</a>
      </li>
    </ul>
    <div class="flex align-items-center justify-content-center mb-5 ">
      <a routerLink="/index" pRipple
        class="cursor-pointer border-circle bg-gray-900 text-blue-500 block inline-flex justify-content-center align-items-center mr-5"
        style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-twitter"></i></a>
      <a routerLink="/index" pRipple class="cursor-pointer border-circle bg-gray-900 text-blue-800 block inline-flex justify-content-center
        align-items-center mr-5" style="width: 2.5rem; height: 2.5rem;"><i class="pi pi-facebook"></i></a>
      <a pRipple class="cursor-pointer border-circle bg-gray-900 text-gray-100 block inline-flex justify-content-center
        align-items-center" style="width: 2.5rem; height: 2.5rem;" href="https://github.com/GeekDoom/"
        target="_blank"><i class="pi pi-github"></i></a>
    </div>
  </div>
</div>
<div>
  <app-modals #modals></app-modals>
</div>
